[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
.vs/
.idea/

.DS_Store
Thumbs.db
desktop.ini

[Mm]emory[Cc]aptures/
[Cc]rash[Rr]eports/
*.apk
*.aab
*.unitypackage
*.app
sysinfo.txt
